doctype html
html(lang='ca')
  head
    title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/responsive.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    #form-login-group.form-login-group
      form#form-login(method='post')
        .row
          .col-s-2
          .col-s-8
            label(for='username') Username
            input#username
            label(for='password') Password
            input#password(type='password')
            button(type='sumbit', value='Login') Login
          .col-s-2
